
# Visual studio files
*.vs
*.swp
.agignore
*_ignore
*.ignore.*

# Bond artifacts
*Rules_Bond*
*_proxies.cs
*_services.cs

# Ignore local changes to nuget config unless specifically wanted to be commited
Nuget.config


# Using this to prevent NPM from running in Dashboard
npm.bat


# Mac Files
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk