[core]
	excludesfile = ~/.gitignore
	autocrlf = false

[alias]
	lgr = log --graph --decorate=full --abbrev-commit --date=relative
	lg = log --graph --decorate=full --abbrev-commit
	a = add .
	s = status
	st = stash
	stp = stash pop
	b = branch -vv
	ba = branch -vv -a
	bd = branch -d
	bdf = branch -D
	d = diff
	dw = diff --color-words
	dd = diff develop
	dds = diff develop
	dm = diff master
	dmw = diff master --color-words
	ddw = diff develop --color-words
	dh = diff HEAD
	dh1 = diff HEAD^1
	dhw = diff HEAD --color-words
	dh1w = diff HEAD^1 --color-words
	rl = reflog
	r = reset
	rh = reset HEAD
	rhh = reset --hard HEAD
	rbd = rebase develop
	rbm = rebase master
	rbim = rebase --interactive master
	rbi = rebase --interactive
	rbc = rebase --continue
	rba = rebase --abort
	m = merge
	md = merge develop
	c = checkout
	c1 = checkout @{-1}
	c2 = checkout @{-2}
	c3 = checkout @{-3}
	cm = checkout master
	cd = checkout develop
	ch = checkout HEAD
	ch1 = checkout HEAD^1
	po = push origin
	pof = push origin --force
	ct = commit
	cta = commit --amend
	p = pull
	fp = fetch origin --prune
	rc = config --global -e

[push]
	default = current

[status]
	showUntrackedFiles = all

[diff]
	renames = copies
	mnemonicprefix = true
	wordRegex = \\w+|.

[branch]
	autosetupmerge = true

# Expected to include
#  core.editoruser.name/email,
#  credential.helper
#  and any custom aliases.
[include]
	path = ~/.local.gitconfig
