
# Visual studio files
*.vs
*.swp
.agignore
*_ignore
*.ignore.*

# Bond artifacts
*Rules_Bond*
*_proxies.cs
*_services.cs

# Ignore local changes to nuget config unless specifically wanted to be commited
Nuget.config


# Using this to prevent NPM from running in Dashboard
npm.bat
